<ul class="ten columns alpha" id="gallery-list">
<% @entries.each do |entry| %>
  <li>
    <%= link_to image_tag(entry.image_url), "http://www.igf.com/php-bin/entry2012.php?id=#{entry.entry_id}" %><br>
    <%= link_to entry.name, "http://www.igf.com/php-bin/entry2012.php?id=#{entry.entry_id}" %> by <%= entry.developer.name %>
  </li>
<% end %>
</ul>