<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>IGF 2012 Entries</title>
	<meta name="description" content="This website tries to present the IGF 2012 entries in a more accesible way than the official website.">
	<meta name="author" content="Andreas Zecher">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application" %>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">

    <div class="rows">
      <div class="three columns sidebar">
    		<nav>
          <h3 id="logo">IGF 2012</h3>
					<ul>
						<li><%= link_to "List view", entries_path %></li>
						<li><%= link_to "Gallery view", gallery_entries_path %></li>
					</ul>
					<small>
					  <p>This website tries to present the IGF 2012 entries in a more accesible way than the official website.
					  It has been built with <a href="http://www.rubyonrails.org">Rails</a> and <a href="http://www.getskeleton.com/">Skeleton</a>.
					  All data scraped from the public <a href="http://www.igf.com">IGF website</a>.</p>
					  <p><a href="http://www.madebypixelate.com">Made by Pixelate</a></p>
					</small>
				</nav>
				&nbsp;
			</div>				
    </div>
		<div class="twelve columns offset-by-one">
		  <%= yield %>
    </div>
	</div><!-- container -->

<!-- End Document
================================================== -->
</body>
</html>